body{
    font-family: Arial;
    margin:0;
    text-align:center;
}

header{
    background:#111;
    color:white;
    padding:40px;
}

section{
    padding:40px;
}

.project{
    background:#f4f4f4;
    margin:10px;
    padding:20px;
}